@charset "utf-8";
/* .form{
	width: 70%;
	height: 700px;
	margin-left: auto;
	margin-right: auto;
} */
table {
	width: 70%;
	height: 400px;
}
tr {
	text-align: center;
	line-height: 50px;
	height: 10%;
}
.hidden label {
	height: 30px;
	font-size: 10px;
	color: red;
}
.hidden {
	height: 30px;
}
.tdLeft {
	width: 35%;
}
.tdCenter {
	width: 40%;
}
.tdCenter * {
	height: 70%;
}
.tdCheck {
	width: 20%;
	margin-left: 0;
	text-align: left;
	border-left: 0;
}
.intext {
	width: 60%;
	height: 70%;
	text-align: center;
}
#yesno {
	height: 80%;
}
/* #nickCheckResult, #mobileCheckResult {
	color: white;
} */
.lblCheck {
	height: 40px;
	color: red;
}
#yesNo {
	color: red;
}
.btn{
	/* width: 100%;
	height: 10%;
	margin-top: 25px; */
	text-align: right;
}
.hiddenTr{
	display: none;
}
.inp {
	border:1px solid #ececec;
	color:#4c4c4c;
	padding:10px;
	width: 70%;
	float:right;
}
@media (max-width:1330px){ /*가로 너비가 1330px 이하일 때 아래 스타일 적용*/
	.tdCheck {
		margin-left: 0;
	}
}