@charset "EUC-KR";
/* .form{
	width: 70%;
	height: 700px;
	margin-left: auto;
	margin-right: auto;
} */
table {
	width: 100%;
	height: 600px;
	border: 1px solid gray;
	padding: 30px, 20px;
}
tr {
	text-align: center;
	line-height: 50px;
	height: 10%;
}
.hidden label {
	height: 80%;
}
.tdLeft {
	width: 25%;
}
.tdCenter {
	width: 50%;
}
.tdCenter * {
	height: 70%;
}
.tdCheck {
	width: 25%;
	margin-left: 0;
	text-align: left;
	border-left: 0;
}
.intext {
	width: 80%;
	height: 60%;
	text-align: center;
}
#yesno, #nickCheckResult {
	height: 80%;
}
#nickCheckResult, #mobileCheckResult {
	color: white;
}
#yesNo {
	color: red;
}
.btn btn-outline-primary {
	/* width: 100%;
	height: 10%;
	margin-top: 25px; */
	text-align: right;
}
.hiddenTr{
	display: none;
}
@media (max-width:1330px){ /*가로 너비가 1330px 이하일 때 아래 스타일 적용*/
	.tdCheck {
		margin-left: 0;
	}
    .btn btn-outline-primary {
    	font-size: 17px;
    }
}