@charset "EUC-KR";
/* .form{
	width: 70%;
	height: 700px;
	margin-left: auto;
	margin-right: auto;
} */
table {
	width: 100%;
	height: 700px;
	border: 1px solid gray;
	padding: 30px, 20px;
}
tr {
	text-align: center;
	line-height: 50px;
	height: 10%;
}
.hidden {
	height: 5%;
}
.tdLeft {
	width: 40%;
}
.tdCenter {
	width: 40%;
}
.tdCenter * {
	height: 70%;
}
.tdCheck {
	width: 20%;
	border-left: 0;
}
.intext {
	width: 80%;
	height: 60%;
}
#yesno, #nickCheckResult {
	height: 80%;
}
#nickCheckResult {
	color: white;
}
#yesNo {
	color: red;
}
.btn btn-outline-primary {
	/* width: 100%;
	height: 10%;
	margin-top: 25px; */
	text-align: right;
}
/* input {
	padding: 5px;
} */
@media (max-width:1330px){ /*가로 너비가 1330px 이하일 때 아래 스타일 적용*/
    /* .form {
    	font-size: 10px;
        width: 95%;
    } */
    /* .btnDiv {
    	margin-top: 25px;
    } */
    .btn btn-outline-primary {
    	font-size: 17px;
    }
}