.qnadiv{
	width:85%;
}

.qna_table_width1{
	width:10%;
}

.qna_table_width2{
	width:35%;
}

.qna_table_width3{
	width:15%;
}

.qna_table_width4{
	width:20%;
}

.qna_table_width5{
	width:20%;
}
/*qna view 페이지*/
.qnaviewdiv{
	width:50%;
}

.qnamodify{
	width:50%;
}
