@charset "EUC-KR";



.jsb_table_width1 {
	width:25%;
}
.jsb_table_width2 {
	width:25%;
}
.jsb_table_width3 {
	width:25%;
}
.jsb_table_width4 {
	width:25%;
}


img { border: 0; max-width: 100%; }



/** page structure **/
.wrapper {
  display: block;
  margin: 0 auto;
}

.keywords {
  margin: 0 auto;
  font-size: 1.2em;
  margin-bottom: 15px;
}




.btn_search{
	width: 50px;
	height: 100%;
	border: 0px;
	outline: none;
	float: right;
	background:white;
}
.btn_su{
	font-size: 16px;
	width: 325px;
	padding: 10px;
	border: 0px;
	outline: none;
	float:left;
}
.btn_div{
	height: 40px;
	width: 400px;
	border: 1px solud #1b5ac2;
	background: #ffffff;
}

